header {
  width: 100%;
  height: 10%;
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: flex-end;
}

header > ul {
  width: 40%;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  /* font-size: 30px; */
  font-size: 25px;
  padding: 10px;
}

header > ul > li {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

header > ul > li > a {
  text-decoration: none;
  color: var(--two);
  display: flex;
  justify-content: center;
  align-items: center;
}

header > ul > li img {
  /* width: 30px; */
  width: 30px;
}

/* mobile view */

@media only screen and (max-width: 1200px) {
  header {
    position: absolute;
    z-index: 2;
  }
  header > ul {
    width: 100%;
    font-size: 20px;
  }
}
